@{
    ViewBag.Title = "Home Page";
}


<table id="gcTable" class="tablesorter">
    <thead>
        <tr>
            <th>이름</th>
            <th>나이</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>홍길동</td>
            <td>21</td>
        </tr>
        <tr>
            <td>사임당</td>
            <td>40</td>
        </tr>
        <tr>
            <td>이이</td>
            <td>90</td>
        </tr>
        <tr>
            <td>이도</td>
            <td>50</td>
        </tr>
        <tr>
            <td>이황</td>
            <td>80</td>
        </tr>
        <tr>
            <td>이순신</td>
            <td>54</td>
        </tr>
        <tr>
            <td>고코더</td>
            <td>88</td>
        </tr>
        <tr>
            <td>개발자</td>
            <td>9</td>
        </tr>
    </tbody>
</table>
