<table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>HostName</th>
            <th>NTLastUpdateDate</th>
            <th>LastBootup</th>
            <th>UUID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var info in Model)
        {
            <tr>
                <td>@info.HostName</td>
                <td>@info.NTLastUpdateDate</td>
                <td>@info.LastBootUp</td>
                <td>@info.UUID</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-warning" asp-controller="GetUpdateStatusControlle" asp-action="Add">List</a>